/** Center everything except the logo **/
.netflix-mockup {
  text-align: center;
}

/** Logo placed in top left corner in the header **/
.logo {
  height: 65px;
  margin-left: 10px;
}

/** Set height and flex as row **/
.header {
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

/** Initially hide add/remove buttons with some style! **/
button {
  display: block;
  visibility: hidden;
  background-color: red;
  border: darkred;
  border-radius: 2px;
  font-weight: 700;
  font-size: 16px;
  color: white;
  width: 100%;
  padding: 10px 20px;
  text-transform: uppercase;
}

/** When a content-item is hovered over, make a button visible **/
.content-item:hover button {
  visibility: visible;
}

/** Font coloring **/
h1, h4, li {
  color: white;
}

/** Display items horizontally in a row...with a wee bit of spacing between **/
.content-item {
  display: inline-block;
  padding: 0 15px;
}

/** Because bullets don't always make sense **/
ul {
  list-style: none;
}
